.container {
	padding-left: 0px;
	padding-right: 0px;
	font-family: Avenir;
}

#logo {
width: 10%;
display: inline-block;
margin-bottom: 50px;
}

.main-text
{
    position: absolute;
    top: 50px;
    color: #FFF;
}

.btn-min-block
{
    min-width: 170px;
    line-height: 26px;
}
.btn-clear
{
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
    margin-right: 15px;
}
.btn-clear:hover
{
    color: #000;
    background-color: #FFF;
}

.btn {
	color: #96281B;
	border-color: #96281B;
	margin-bottom: 50px;
}

.info {
	width: 1600px;
	height: 600px;
}

#container2 {
	background-color: #FFF;
}

#container2 p {
	margin-bottom: 50px;
}

#container2 h1 {
	font-family: Avenir;
	color: #96281B;
}

#slogan h1 {
	font-family: Avenir;
}

#container3 {
	font-family: Avenir;
	background-color: #9A917F;
	color: white;
	margin-bottom: 50px;
}

p {
	font-family: Avenir;
}

button {
	font-family: Avenir;
}  

#chicago {
	font-family: Cochin;
	font-size: 60pt;
}

#slogan {
	background-color: #E7E1D5;
}

.italic {
	font-style: italic;
}

body {
	background-color: rgb(231,225,213);
}

#pizzahouse {
	margin-bottom: -35px;
}

#pizzahouse h1 {
font-family: Cochin;
font-size: 72pt;
margin-top: 70px;
display: inline-block;
}

#circle1 {
	width: 19%;
	position: relative;
	top: 90px;
	left: 130px;
}

#circle2 {
width: 19%;
position: relative;
float: right;
margin-top: -180px;
top: -50px;
right: 130px;
}

#locations {
	display: inline;
}

#orderbutton:hover {
	background-color: #96281B;
	color: #FFF;
	border-color: #FFF;
}

#locations h4 {
	margin-top: -120px;
}

#container1 {
	width: 100%;
}

.navbar {
	position: fixed;
	min-height: 40px;
	margin-bottom: 20px;
	width: 100%;
	background-color: #96281B;
	border: none;
}

.navbar .nav > li > a {
    color:  #FFF;
}


footer {
	text-align: center;
	background-color: #96281B;
	color: white;
	font-family: Avenir;
}

footer table {
	margin: 0 auto;
}

footer table tr td {
	padding: 5px 10px;
	font-family: Avenir;
}

footer table tr td a {
	color: white;
	font-family: Avenir;
}

footer table tr td a:hover {
	color: #490D06;
	text-decoration: none;
}

.navbar .current {
	background-color: #E7E1D5;
}

.navbar li a.current {
	color: #96281B; 
}

.galleria { 
	width: 700px; 
	height: 400px; 
	background: #000;
	margin: 0 auto;
	margin-top: -25px;
}

#menu {
	height: 750px;
	margin-top: -25px;
}

@media (max-width: 760px){
	.logo{
		top: 0px;
		left: 0px;
		height: 100px;
		width: 100px;
	}
	
	#carousel-example-generic {
		display: none;
		visibility: hidden;
	}
	.galleria {
		display: none;
		visibility: hidden;
	}
}

#content {
	width: 80%;
	padding: 10px 5%;
	text-align: center;
	margin: 0 auto;
	background-color: #9A917F;
	font-family: Avenir;
}

#content form {
	color: #FFFFFF;
}

#content input {
	color: black;
}

#process h3 {
	color: #FFFFFF;
}

label {
	display: block;
	margin: 5px 10px;
}


/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) { 
	#pizzahouse h1 {
		font-size: 22pt;
		position: relative;
		bottom: 20px;
	}
	#circle1 {
		display: none;
		visibility: hidden;
	}
	#circle2 {
		display: none;
		visibility: hidden;
	}
	#carousel-example-generic {
		display: none;
		visibility: hidden;
	}
	#logo {
		display: none;
		visibility: hidden;
	}
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }

